{% extends 'base.html.twig' %}

{% block body %}
    {% set id = app.request.get('id') %}
    {% set titleType = app.request.get('titleType') %}
    <div class="container" style="justify-content: center">
        <div class="d-flex flex-column w-100 ">
            <h3 class="text-center m-4">Information</h3>
            <div class="d-flex flex-row w-100">
                <div class="w-50">
                    <p>Address : {{ app.user.lastName }}</p>
                    <p>Prénom : {{ app.user.firstName }}</p>
                </div>
                <div class="w-50">
                    <p>E-mail : {{ app.user.email }}</p>
                    <p>Date de naissance : {{ app.user.birthDate|date('Y-m-d') }}</p>
                </div>
            </div>
        </div>
        <div class="h-50 overflow-scroll mt-3">
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Date de Naissance</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    {% if user.id != 1  %}
                    <tr>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.birthDate|date('Y-m-d') }}</td>
                        <td><a href="/admin/{{user.id}}/update" class="btn btn-outline-primary mx-auto">Modifier</a></td>
                        <td><a href="/admin/{{user.id}}/delete" class="btn btn-outline-danger mx-auto">Supprimer</a></td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}