{% extends 'base.html.twig' %}

{% block body %}
    {% set id = app.request.get('id') %}
    {% set titleType = app.request.get('titleType') %}
    <div class="container" style="justify-content: center">
        <div class="col-md mx-auto mt-5 mb-5">
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2017/08/02/01/01/living-room-2569325_1280.jpg" class="card-img-top m-auto w-50 p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text text-end">{{ product.price|number_format(2, ',', ' ') }} €</p>
                    <div class="d-flex flex-row-reverse bd-highlight">
                        <div class="p-2 bd-highlight">
                            {% if  is_granted('ROLE_ADMIN') %}
                                <a href="/product/{{product.id}}/update" class="btn btn-outline-primary mx-auto">Modifier</a>
                                <a href="/product/{{product.id}}/delete" class="btn btn-outline-danger mx-auto">Supprimer</a>
                            {% else %}
                                <a href="{{ path('shoppingAdd', {'id': product.id })}}" class="btn btn-outline-primary mx-auto">Acheter</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">

    </div>
{% endblock %}