{% extends 'base.html.twig' %}

{% block body %}
    {% set id = app.request.get('id') %}
    {% set titleType = app.request.get('titleType') %}
    <div class="container" style="justify-content: center">
        <div class="col-md-4 mx-auto mt-5" >
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">{{ product.price }}</p>

                    <div class="d-flex flex-row-reverse bd-highlight">
                        <div class="p-2 bd-highlight">
                            <a href="#/{{product.id}}" class="btn btn-outline-primary mx-auto">Ajouter</a>
                            {% if is_granted('ROLE_USER') %}
                                <a href="/product/{{product.id}}/update" class="btn btn-outline-primary mx-auto">Modifier</a>
                                <a href="/product/{{product.id}}/delete" class="btn btn-outline-danger mx-auto">Supprimer</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}