{% extends 'base.html.twig' %}

{% block body %}
    {% set id = app.request.get('id') %}
    {% set titleType = app.request.get('titleType') %}
    <div class="container" style="justify-content: center">
        <div class="d-flex flex-row justify-content-between w-100">
            <div class="w-25">
                <p>Nom : {{ app.user.lastName }}</p>
                <p>Prénom : {{ app.user.firstName }}</p>
                <p>E-mail : {{ app.user.email }}</p>
                <p>Date de naissance : {{ app.user.birthDate|date('Y-m-d') }}</p>
            </div>
            <div class="w-25 overflow-scroll" style="height: 208px">
                {% for address in app.user.addresses %}
                <p class="m-2">Adresse : {{ address.title }}</p>
                <div class="d-flex flex-row">
                    <a href=" /profile/{{address.id}}/updateAddress" class="btn btn-outline-primary mx-auto">Modifier</a>
                    <a href="/profile/{{address.id}}/deleteAddress" class="btn btn-outline-danger mx-auto">Supprimer</a>
                </div>
                {% endfor %}
            </div>
            <div class="w-25 overflow-scroll" style="height: 208px">
                {% for info in app.user.paymentInfos %}
                <p class="m-2" >Nom : {{ info.title }}</p>
                <div class="d-flex flex-row">
                    <a href=" /profile/{{info.id}}/updatePayment" class="btn btn-outline-primary mx-auto">Modifier</a>
                    <a href="/profile/{{info.id}}/deletePayment" class="btn btn-outline-danger mx-auto">Supprimer</a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="w-25">
            </div>
            <div class="w-25">
                <a href="/addAddress/{{ app.user.id }}" class="btn btn-outline-primary">Ajouter</a>
            </div>
            <div class="w-25">
                <a href="/addPayment/{{ app.user.id }}" class="btn btn-outline-primary">Ajouter</a>
            </div>
        </div>
        <div class="h-50 overflow-scroll">
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% for order in app.user.orderHistories %}
                <tr>
                    <td colspan="2">{{ order.title }}</td>
                    <td>{{ order.orderDate }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
{% endblock %}