{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Votre panier</h1>
        <table class="table mt-5">
            <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th>
            </tr>
            </thead>
            {% if items | length > 0 %}
                <tbody>
                {% for item in items %}
                    <tr>
                        <td class="text-end">{{ item.product.name }}</td>
                        <td class="text-end">{{ item.product.price }} €</td>
                        <td class="text-end">{{ item.quantity }}</td>
                        <td class="text-end">{{ (item.product.price * item.quantity)|number_format(2, ',', ' ') }}</td>
                        <td>
                            <a href="{{ path('shopDel', {'id': item.product.id })}}" class="btn btn-danger btn-sm">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">Votre panier est vide </td>
                    </tr>
                {% endif %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3" class="text-end"> Total :</td>
                    <td class="text-end">{{ total|number_format(2, ',', ' ') }} €</td>
                    <td>
                        <a href="" class="btn btn-success btn-sm">Finaliser</a>
                    </td>
                </tr>
                </tfoot>
        </table>
    </div>
{% endblock %}